.u-section-1 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-1 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-1 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 838px;
  margin-top: 32px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 93px 93px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-3 {
  margin: -601px 761px 0 124px;
}

.u-section-1 .u-text-4 {
  margin: -36px 124px 0 761px;
}

.u-section-1 .u-text-5 {
  margin: 278px 761px 0 124px;
}

.u-section-1 .u-text-6 {
  margin: -36px 124px 0 761px;
}

.u-section-1 .u-text-7 {
  margin: 293px 761px 0 124px;
}

.u-section-1 .u-text-8 {
  margin: -36px 124px 38px 761px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-gallery-1 {
    height: 695px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -503px;
    margin-right: 368px;
    margin-left: -174px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 75px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 224px;
    margin-right: 613px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 75px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 227px;
    margin-right: 613px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 75px;
    margin-bottom: 60px;
    margin-left: 610px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2411px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2147px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-3 {
    margin-top: -1955px;
    margin-left: 0;
    margin-right: 465px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 465px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 465px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 465px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 465px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1632px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1414px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 255px;
    margin-top: 1398px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 255px;
    margin-top: -1184px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 255px;
    margin-top: 236px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 255px;
    margin-top: 564px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: 255px;
    margin-top: -329px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1059px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -934px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 169px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 358px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -220px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 548px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -226px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-content {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
.card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  max-width: 400px;
  width: 400px;
  height: auto;
  margin: 25px;
  overflow: hidden;
}
.card-image {
  max-height: 270px;
  background-color: #000;
}
.card-image img:hover {
  opacity: 0.8;
  background-color: #000;
}
.card-image img {
  max-width: 100%;
  height: 270px;
  transition: 0.3s;
}
.card-info {
  position: relative;
  color: #222;
  padding: 5px 20px 20px;
}

.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}
.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow:  0 5px 25px rgb(1, 1, 1/10%);
}
.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}
.previous-page, .next-page{
  background-color: darkslategrey;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}
.previous-page:hover {
  background-color: rgb(56, 56, 56);
}
.previous-page-disabled {
  width: 80px;
  border-radius: 5px;
  background-color: lightgray;
  cursor: not-allowed;
}
.next-page:hover {
  background-color: rgb(56, 56, 56);
}
.next-page-disabled {
  width: 80px;
  border-radius: 5px;
  background-color: lightgray;
  cursor: not-allowed;
}
.current-page, .dots {
  background-color: rgb(231, 218, 218);
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  background: darkslategrey;;
}
.disabled {
  background: rgb(231, 218, 218);
}
.disabled:hover {
  background: rgb(231, 218, 218);
  cursor: default !important;
}
.card-pictures{
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  max-width: 310px;
  width: 310px;
  height: auto;
  margin: 20px;
  overflow: hidden;
}
.view-pictures {
  max-height: 300px;
  background-color: #000;
}
.view-pictures img {
  max-width: 100%;
  height: 300px;
  transition: 0.3s;
}
.view-pictures img:hover {
  opacity: 0.8;
  background-color: #000;
}
.back{
  background-color: darkslategrey;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}
.back:hover {
  background-color: rgb(56, 56, 56);
}
.back-button {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}
.back-button li {
  display: inline-block;
  margin: 5px;
  box-shadow:  0 5px 25px rgb(1, 1, 1/10%);
}
.back-button li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.pic {
  cursor: pointer;
}
.tags-list {
  display: block;
  margin-bottom: 20px;
}
.tags {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}